@charset "UTF-8";
:root {
  --extraTag: '';
  --endTag: '';
  --primary: #512470;
  --secondary: #fff;
  --alternate1: #e67f3a;
  --alternate2: #e67f3a;
  --bgBody: var(--secondary);
  --fgBody: var(--primary);
  --fontBody: OpenSans, Arial, sans-serif;
  --fontQuote: Baskerville, serif;
  --fontHeader: Ampersand, OpenSans, Arial, sans-serif;
  --borderHeader: var(--primary);
  --fontSizeHeader: 1.75em;
  --bgFooter: var(--primary);
  --fgFooter: var(--secondary);
  --emphase: var(--alternate2);
  --logo: none;
  --bgSlide: var(--bgBody);
  --fgSlide: var(--fgBody);
  --bgSlideHeader: rgba(0, 0, 0, 0.125);
  --fgSlideCounter: var(--primary);
  --linkHoverShadow: 0.25rem 0.25rem 0.5rem rgba(255, 255, 255, 0.5);
  --bgCode: #2b2b2b;
  --fgCode: #bababa;
  --fgEditable: var(--primary);
  --bgBoardLight: #eee;
  --bgBoardDark: #ccc;
  --navigationWidth: 10vw;
  --bgNavigation: rgba(0, 0, 0, 0.15);
  --bgPanelHeader: var(--primary);
  --fgPanelHeader: var(--secondary);
  --bgPanelBody: rgba(0, 0, 0, 0.25); }

.devoxx {
  --extraTag: '#DevoxxFR';
  --primary: #057FFA;
  --secondary: #03002E;
  --third: #033494;
  --fourth: #F2D279;
  --alternate1: #F7D279;
  --alternate2: #EDAF1F;
  --bgBody: var(--secondary);
  --fgBody: #fff;
  --fontBody: OpenSans, Arial, SansSerif;
  --fontQuote: Baskerville, serif;
  --bgFooter: var(--secondary);
  --fgFooter: var(--fgSlide);
  --fontHeader: Ampersand, Montserrat, Arial, SansSerif;
  --borderHeader: var(--fourth);
  --fontSizeHeader: 1.75em;
  --emphase: var(--alternate2);
  --logo: url("assets/images/logos/logo-texte-devoxx-france-800.png");
  --bgSlide: url("assets/images/Background_hdtv_1920_1080_v3.png");
  --fgSlide: var(--fgBody);
  --bgSlideHeader: rgba(0, 0, 0, 0.25);
  --fgSlideCounter: var(--alternate1);
  --linkHoverShadow: 0.25rem 0.25rem 0.5rem rgba(255, 255, 255, 0.5);
  --bgCode: #2b2b2b;
  --fgCode: #bababa;
  --fgEditable: var(--secondary);
  --bgBoardLight: #eee;
  --bgBoardDark: #ccc;
  --navigationWidth: 10vw;
  --bgNavigation: rgba(0, 0, 0, 0.75);
  --bgPanelHeader: var(--secondary);
  --fgPanelHeader: var(--alternate1);
  --bgPanelBody: rgba(0, 0, 0, 0.5); }

@font-face {
  font-family: Ampersand;
  src: local("Zapfino"), local("Herculanum");
  unicode-range: U+26; }

main {
  display: flex;
  height: 100vh;
  align-items: center; }
  main > section {
    position: fixed;
    left: 0;
    z-index: -1;
    box-sizing: border-box;
    min-width: 100vw;
    flex: 1 1 100vw;
    height: 100vh;
    /* 4/3: .75, 16/10: .625 */
    padding: 0;
    font-size: 6vh;
    opacity: 0;
    transform: translate(-100vw);
    transform-origin: 100%;
    transition: all .8s ease-out; }
    main > section:target {
      z-index: 1;
      transform: translateX(0);
      opacity: 1; }
      main > section:target + section {
        opacity: 0;
        transform: translate(100vw);
        transform-origin: 0; }

main > section {
  background: var(--bgSlide);
  color: var(--fgSlide);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: var(--fontBody);
  flex-direction: column; }
  main > section::before {
    padding: .25rem 0 .5rem;
    background: var(--bgFooter) var(--logo) no-repeat right;
    color: var(--fgFooter);
    background-size: contain;
    text-align: left;
    font-size: 50%;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    white-space: pre;
    content: var(--extraTag) " #CSS #Awesome " var(--endTag);
    z-index: 2; }
  main > section::after {
    counter-increment: section;
    content: counter(section);
    position: absolute;
    width: 1em;
    height: 1em;
    z-index: 2;
    padding: .125rem;
    border-radius: 50%;
    font-size: 50%;
    font-family: Zapfino, fantasy;
    color: var(--fgSlideCounter);
    text-shadow: 1px 1px 0.125rem rgba(0, 0, 0, 0.8);
    top: 1vh;
    left: 95vw; }
  main > section.center {
    justify-content: center;
    align-items: center; }
    main > section.center > h2 {
      box-sizing: border-box;
      max-width: calc(100vw - var(--navigationWidth) - var(--navigationWidth));
      align-self: stretch;
      margin: 0 var(--navigationWidth);
      text-align: center;
      font-family: var(--fontHeader);
      margin-top: -.75em; }
      main > section.center > h2 small {
        font-size: 60%; }
  main > section.around {
    justify-content: space-around;
    align-items: center; }
  main > section > h3 {
    box-sizing: content-box;
    width: 100vw;
    margin: 0;
    padding: 0 var(--navigationWidth);
    box-shadow: inset 0 -0.25rem 0 var(--borderHeader);
    background-color: var(--bgSlideHeader);
    font-size: var(--fontSizeHeader);
    font-family: var(--fontHeader);
    justify-self: flex-start;
    line-height: 1.25; }
  main > section > h4, main > section > dl {
    box-sizing: border-box;
    max-width: calc(100vw - var(--navigationWidth) - var(--navigationWidth));
    align-self: stretch;
    margin: 0 var(--navigationWidth); }
  main > section > p,
  main > section > blockquote {
    box-sizing: border-box;
    max-width: calc(100vw - var(--navigationWidth) - var(--navigationWidth));
    align-self: stretch;
    margin: 0 var(--navigationWidth);
    padding: 0 0 0 1em; }
  main > section > ol,
  main > section > ul {
    box-sizing: border-box;
    max-width: calc(100vw - var(--navigationWidth) - var(--navigationWidth));
    align-self: stretch;
    margin: 0 var(--navigationWidth);
    padding: 0 0 0 2em; }
  main > section h2 a,
  main > section h2 a:visited, main > section h4 a,
  main > section h4 a:visited, main > section p a,
  main > section p a:visited, main > section li a,
  main > section li a:visited {
    color: var(--fgSlide);
    text-decoration: none;
    border-bottom: thin dashed currentColor; }
    main > section h2 a:hover,
    main > section h2 a:visited:hover, main > section h4 a:hover,
    main > section h4 a:visited:hover, main > section p a:hover,
    main > section p a:visited:hover, main > section li a:hover,
    main > section li a:visited:hover {
      text-shadow: var(--linkHoverShadow); }
    main > section h2 a:before,
    main > section h2 a:visited:before, main > section h4 a:before,
    main > section h4 a:visited:before, main > section p a:before,
    main > section p a:visited:before, main > section li a:before,
    main > section li a:visited:before {
      content: '🔗 '; }

section a.previous::before,
section a.next::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  height: 100%; }

section:target a.previous::before {
  left: 0;
  width: var(--navigationWidth);
  cursor: w-resize;
  background: linear-gradient(to right, var(--bgNavigation), transparent); }

section:target a.next::after {
  left: calc(100vw - var(--navigationWidth));
  width: var(--navigationWidth);
  cursor: e-resize;
  background: linear-gradient(to left, var(--bgNavigation), transparent); }

/*

Darcula color scheme from the JetBrains family of IDEs

*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #2b2b2b; }

.hljs {
  color: #bababa; }

.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2; }

.hljs-bullet,
.hljs-quote,
.hljs-link,
.hljs-number,
.hljs-regexp,
.hljs-literal {
  color: #6896ba; }

.hljs-code,
.hljs-selector-class {
  color: #a6e22e; }

.hljs-emphasis {
  font-style: italic; }

.hljs-keyword,
.hljs-selector-tag,
.hljs-section,
.hljs-attribute,
.hljs-name,
.hljs-variable {
  color: #cb7832; }

.hljs-params {
  color: #b9b9b9; }

.hljs-string {
  color: #6a8759; }

.hljs-subst,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-symbol,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-template-tag,
.hljs-template-variable,
.hljs-addition {
  color: #e0c46c; }

.hljs-comment,
.hljs-deletion,
.hljs-meta {
  color: #7f7f7f; }

pre {
  box-sizing: border-box;
  max-width: calc(100vw - var(--navigationWidth) - var(--navigationWidth));
  align-self: stretch;
  margin: 0 var(--navigationWidth);
  display: block;
  padding: 0.5em;
  background: var(--bgCode);
  box-sizing: border-box;
  align-self: stretch; }

@keyframes ants {
  to {
    background-position: 100% 100%; } }

style[contenteditable=true], pre {
  z-index: 1;
  box-sizing: border-box;
  max-width: calc(100vw - var(--navigationWidth) - var(--navigationWidth));
  align-self: stretch;
  margin: 0 var(--navigationWidth);
  padding: .5em;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
  outline: 0;
  white-space: pre;
  tab-size: 2;
  font-family: 'Fira Code', Menlo, Monaco, monospace;
  font-size: .667em;
  color: var(--fgCode);
  background: var(--bgCode);
  box-sizing: border-box; }

style[contenteditable=true] {
  border: .125em solid transparent;
  background: linear-gradient(var(--bgCode), var(--bgCode)) padding-box, repeating-linear-gradient(-45deg, var(--fgBody) 0, var(--fgBody) 25%, transparent 0, transparent 50%) 0/0.6em 0.6em;
  animation: ants 60s linear infinite; }

.editable {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  max-width: calc(100vw - var(--navigationWidth) - var(--navigationWidth));
  align-self: stretch;
  margin: 0 var(--navigationWidth);
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: linear-gradient(45deg, var(--bgBoardDark) 25%, transparent 25%, transparent 75%, var(--bgBoardDark) 75%, var(--bgBoardDark)) 0 0, linear-gradient(45deg, var(--bgBoardDark) 25%, var(--bgBoardLight) 25%, var(--bgBoardLight) 75%, var(--bgBoardDark) 75%, var(--bgBoardDark)) 20px 20px var(--bgBoardLight);
  background-size: 40px 40px;
  z-index: -10; }

:hover {
  cursor: pointer; }

.mzh-animation .logo-askew {
  display: inline-block;
  animation-name: unskew;
  animation-duration: .6s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.75, -2, 0.75, 2);
  transform-origin: 86% 15%; }

.mzh-animation:hover .logo-askew {
  animation-name: skew;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  transform-origin: 86% 15%; }

@keyframes unskew {
  0% {
    transform: rotate(-12deg); }
  to {
    transform: rotate(0deg); } }

@keyframes skew {
  40% {
    transform: rotate(-16deg); }
  60% {
    transform: rotate(-8deg); }
  to {
    transform: rotate(-12deg); } }

body {
  padding: 0;
  margin: 0;
  color: var(--fgBody);
  font-family: var(fontBody), cursive;
  background: var(--bgBody);
  counter-reset: section; }

h1 a,
h1 a:visited {
  color: var(--fgBody);
  opacity: .8;
  text-decoration: none; }
  h1 a:hover,
  h1 a:visited:hover {
    opacity: 1; }

ul, ol {
  margin: 0;
  padding: 0; }
  ul li, ol li {
    margin: 0;
    padding: 0; }

dt, em {
  color: var(--emphase);
  text-shadow: 1px 1px 0.125rem rgba(0, 0, 0, 0.8); }

blockquote {
  text-align: justify;
  font-family: var(--fontQuote); }
  blockquote strong {
    color: var(--emphase);
    text-shadow: 1px 1px 0.125rem rgba(0, 0, 0, 0.8);
    font-style: normal; }
  blockquote footer cite {
    font-weight: bold;
    font-family: var(--fontBody); }
    blockquote footer cite::before {
      content: '— '; }

button {
  padding: .25rem .5rem;
  border-radius: .25rem;
  border-width: .25em;
  color: var(--fgBody); }

dt, dd {
  display: inline;
  margin: 0; }

dd + dt::before {
  content: '\A';
  white-space: pre; }

dd + dd::before {
  content: ', ';
  font-weight: normal;
  margin-left: -.25em; }

label {
  cursor: pointer; }

#cover .css {
  width: 32vh;
  height: 32vh;
  border: solid 1vh currentColor;
  font-size: 8.5vh;
  padding: 2vh;
  font-family: arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
  text-transform: uppercase;
  line-height: 105%;
  text-shadow: 0.02em 0.02em var(--bgBody), 0.04em 0.04em currentColor; }

#whoami p strong {
  font-size: 1.25em; }

#whoami p:nth-child(3) a {
  border-bottom: none;
  vertical-align: sub; }
  #whoami p:nth-child(3) a:before {
    content: ''; }

#whoami p:nth-child(4) a:before {
  content: '🐦 '; }

#whoami p:nth-child(5) a:before {
  content: '✉️ '; }

#dining-philosophers .diner .table-wrapper {
  transform: rotateX(20deg);
  min-height: 10rem;
  transform-origin: bottom;
  z-index: 9999;
  position: relative;
  margin: 10px auto 0;
  width: 20rem; }

#dining-philosophers .diner .table {
  transform-style: preserve-3d;
  outline: solid 1px transparent;
  margin: 0 auto 0 auto;
  min-height: 10rem;
  padding: 15px 15px 22px 15px;
  z-index: 999;
  position: relative;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center; }
  #dining-philosophers .diner .table plate {
    z-index: 99999; }

#dining-philosophers .diner .table-surface {
  box-shadow: 0 2rem 0.5rem rgba(0, 0, 0, 0.2);
  background: #dd992d;
  background: linear-gradient(#dd992d, #cd8c26);
  position: absolute;
  height: 100%;
  bottom: 0;
  width: 100%; }

#dining-philosophers .diner .table-edge {
  width: 20rem;
  margin: 0 auto .5rem auto;
  background: #ac741c;
  height: 1rem;
  transform: rotateX(-40deg);
  transform-origin: top;
  z-index: 2; }

#dining-philosophers .diner .table-leg {
  width: 1.5rem;
  height: .8rem;
  background: #84570f;
  position: absolute;
  top: 1rem; }
  #dining-philosophers .diner .table-leg:first-child {
    left: 1.5rem; }
  #dining-philosophers .diner .table-leg:last-child {
    right: 1.5rem; }

#dining-philosophers .diner .plate {
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.1);
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 0 10px;
  position: relative;
  border-bottom: solid 5px #DDD;
  background: white;
  border-radius: 50%; }
  #dining-philosophers .diner .plate:before {
    content: "";
    display: block;
    position: absolute;
    left: calc(50% - 32px);
    top: calc(50% - 32px);
    height: 65px;
    width: 65px;
    border-radius: 60px;
    border-top: solid 6px #CCC;
    opacity: .4;
    background: white; }
  #dining-philosophers .diner .plate:after {
    content: "";
    display: block;
    position: absolute;
    left: calc(50% - 41px);
    top: calc(50% - 40px);
    height: 67px;
    width: 67px;
    border-radius: 60px;
    border: solid 8px #009ff2;
    opacity: .4; }

#least-power {
  text-align: center; }
  #least-power a {
    font-size: 1.25em;
    font-family: var(--fontHeader);
    text-shadow: 1px 1px 0.125rem rgba(0, 0, 0, 0.8); }
  #least-power blockquote {
    line-height: 1.25; }

#uncovered ul {
  column-count: 2;
  column-gap: 2em; }

#button-live button {
  transform: scale(6); }

#unit-commit-strip p {
  text-align: center; }
  #unit-commit-strip p img {
    height: 80vh; }

#popover .editable .popover {
  margin-top: -1.5em;
  padding: .125em .75em;
  border-radius: .5em;
  display: inline-block; }

#loader .editable {
  font-size: 80%; }
  #loader .editable .loader {
    transform: scale(4);
    color: purple;
    display: inline-block;
    height: 1.3em;
    white-space: pre;
    margin-top: -0.3em;
    vertical-align: text-bottom; }

#typings .editable {
  background: black;
  color: green;
  font-size: 1.5em;
  padding: 1em;
  justify-content: flex-start; }
  #typings .editable code {
    white-space: nowrap;
    text-shadow: 0.25rem 0.25rem 0.25em currentColor; }

#state-list dl {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

#checkbox .editable {
  margin-top: 1rem;
  flex-direction: column;
  color: var(--fgEditable);
  justify-content: flex-start;
  max-height: 50vh; }
  #checkbox .editable blockquote {
    position: relative;
    margin: 0 auto;
    padding: .25em; }
    #checkbox .editable blockquote p {
      font-style: italic;
      text-shadow: 1px 1px 0.125rem rgba(0, 0, 0, 0.8);
      margin: 0; }
    #checkbox .editable blockquote::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      filter: blur(20px); }
  #checkbox .editable fieldset {
    border: medium solid currentColor;
    background: rgba(255, 255, 255, 0.5);
    padding: .25em;
    min-width: 4ch;
    border-radius: .25rem; }
    #checkbox .editable fieldset input[type=checkbox] {
      transform: scale(2); }
      #checkbox .editable fieldset input[type=checkbox] + label::before {
        font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: 'liga'; }

#collapsible {
  justify-content: flex-start; }
  #collapsible .editable {
    display: block; }
  #collapsible .panel {
    width: 100%;
    position: relative;
    border: medium solid currentcolor;
    background: var(--bgPanelBody);
    border-radius: .25em; }
    #collapsible .panel > input[type=checkbox] {
      transform: scale(2); }
    #collapsible .panel > input[type=checkbox] + header label::before {
      content: '▹';
      display: inline-block;
      min-width: 1em; }
    #collapsible .panel > input[type=checkbox] ~ .body {
      display: none; }
    #collapsible .panel > input[type=checkbox]:checked + header label::before {
      content: '▿'; }
    #collapsible .panel > input[type=checkbox]:checked ~ .body {
      display: block; }
    #collapsible .panel > header {
      background: var(--bgPanelHeader);
      color: var(--fgPanelHeader);
      border-radius: .25em;
      z-index: -1;
      padding: .25em;
      border-bottom: thin solid currentColor;
      cursor: pointer; }
      #collapsible .panel > header label {
        display: block; }
  #collapsible .body blockquote {
    font-size: 3vh; }

#tabs {
  justify-content: flex-start; }
  #tabs > div {
    box-sizing: border-box;
    max-width: calc(100vw - var(--navigationWidth) - var(--navigationWidth));
    align-self: stretch;
    margin: 0 var(--navigationWidth); }
  #tabs nav {
    position: relative;
    z-index: 1;
    padding-left: 1em; }
  #tabs nav > label {
    position: relative;
    display: inline-block;
    padding: .3em 1em 0;
    color: #000;
    text-decoration: none;
    margin: 0 -.3em; }
  #tabs nav > label::before, #tabs .tabs > div {
    border: 0.1em solid rgba(0, 0, 0, 0.4); }
  #tabs nav label::before {
    content: '';
    /* To generate the box */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-bottom: none;
    border-radius: .5em .5em 0 0;
    background: #ccc linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
    box-shadow: 0 .15em white inset;
    transform: scale(1.1, 1.3) perspective(0.5em) rotateX(5deg);
    transform-origin: bottom; }
  #tabs .tabs > div {
    margin-bottom: 1em;
    background: #eee;
    padding: 1em;
    border-radius: .15em;
    color: #000;
    display: none;
    min-height: 40vh; }
  #tabs input {
    transform: scale(2); }
  #tabs input#home:checked ~ nav label[for=home] {
    z-index: 2; }
    #tabs input#home:checked ~ nav label[for=home]::before {
      background-color: #eee;
      margin-bottom: -.08em; }
  #tabs input#home:checked ~ div[data-for=home] {
    display: block; }
  #tabs input#projects:checked ~ nav label[for=projects] {
    z-index: 2; }
    #tabs input#projects:checked ~ nav label[for=projects]::before {
      background-color: #eee;
      margin-bottom: -.08em; }
  #tabs input#projects:checked ~ div[data-for=projects] {
    display: block; }
  #tabs input#about:checked ~ nav label[for=about] {
    z-index: 2; }
    #tabs input#about:checked ~ nav label[for=about]::before {
      background-color: #eee;
      margin-bottom: -.08em; }
  #tabs input#about:checked ~ div[data-for=about] {
    display: block; }

#dialog .editable dialog {
  border: medium solid rgba(0, 0, 0, 0.3);
  border-radius: .5em; }

#caniuse {
  font-size: 5vh; }
  #caniuse dl {
    padding-left: 1em; }
    #caniuse dl dd {
      display: block;
      font-size: 4vh;
      margin-left: 1em; }
      #caniuse dl dd em {
        color: var(--alternate1);
        font-style: normal; }
        #caniuse dl dd em::after {
          content: ' %'; }
    #caniuse dl dd + dd::before {
      content: '';
      margin: 0; }
    #caniuse dl dd + dt::before {
      content: '';
      margin-top: .25em; }

#end {
  animation: 10s rainbow infinite;
  --endTag: '#🦄'; }
  #end .css {
    width: 32vh;
    height: 32vh;
    border: solid 1vh currentColor;
    font-size: 8.5vh;
    padding: 2vh;
    font-family: arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    text-transform: uppercase;
    line-height: 105%; }

@keyframes rainbow {
  from, to {
    background: red; }
  16% {
    background: yellow; }
  33% {
    background: green; }
  50% {
    background: aqua; }
  66% {
    background: blue; }
  83% {
    background: fuchsia; } }

#link {
  align-items: center; }

body.index {
  display: flex;
  flex-direction: column; }
  body.index a {
    counter-increment: a;
    font-size: 2em;
    margin: .125em;
    padding: 0 .5em; }
    body.index a:before {
      content: counter(a) " "; }
