@charset "UTF-8";

@font-face {
  font-family: Ampersand;
  src: local("Zapfino"), local("Herculanum");
  unicode-range: U+26; }
  :root section::before {
    background-origin: content-box; }

body > .slides-nav {
  position: fixed;
  width: 100vw;
  z-index: 2;
  text-shadow: none; }
  body > .slides-nav nav {
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    color: transparent; }
    body > .slides-nav nav a, body > .slides-nav nav a:hover, body > .slides-nav nav a:focus, body > .slides-nav nav a:active {
      color: transparent;
      outline: none;
      text-decoration: none; }
  body > .slides-nav:hover a {
    color: #aecbd6; }
  body > .slides-nav:hover a:hover, body > .slides-nav:hover a:focus, body > .slides-nav:hover a:active {
    color: #ff8d4e; }

main {
  display: flex;
  height: 100vh;
  align-items: center;
  counter-increment: section -1; }
  main > section {
    position: fixed;
    left: 0;
    z-index: -1;
    box-sizing: border-box;
    min-width: 100vw;
    flex: 1 1 100vw;
    height: 100vh;
    /* 4/3: .75, 16/10: .625 */
    padding: 0;
    font-size: 5.5vh;
    opacity: 0;
    transform: translate(-100vw);
    transform-origin: 100%;
    transition: all .8s ease-out; }
    main > section:target {
      z-index: 1;
      transform: translateX(0);
      opacity: 1; }
      main > section:target + section {
        opacity: 0;
        transform: translate(100vw);
        transform-origin: 0; }

main > section {
  background: #faf8f8;
  color: #2c233d;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: Lato, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  flex-direction: column; }
  main > section::before {
    box-sizing: border-box;
    padding: .25em .25em .5em .25em;
    background: #2c233d url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22189.4%22%20height%3D%2246.15%22%20viewBox%3D%220%200%20189.4%2046.15%22%3E%3Ctitle%3Emxt-icon--logo%3C%2Ftitle%3E%3Cg%20data-name%3D%22Layer%201%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M104.14%2029.77l4.05-5.72-.01-.01-4.04%205.73z%22%2F%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23aecbd6%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%220%22%20d%3D%22M100.67%2034.7l-.01.02%22%2F%3E%3Cpath%20fill%3D%22%23ff8d4e%22%20d%3D%22M123.79%2046.08h-14.1l-7.14-10.6%207.03-10.5%2014.21%2021.1z%22%2F%3E%3Cpath%20fill%3D%22%23b4b4b5%22%20d%3D%22M124.52.11h-14.09l-6.98%209.47%207.08%209.68L124.52.11z%22%2F%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M108.42%2022.18L92.27.18h-14.1l16.1%2022-16.15%2023.97h14.09l16.21-23.97zm-84.14-5.09L43%200h5.5v46.1H36.33V22.44l-12%2011L12.17%2022.5v23.6H0V0h5.47zM57.39%200H69.5v46.1H57.39z%22%2F%3E%3Cpath%20d%3D%22M133.53%200h12.11v46.1h-12.11zm19.59%200h36.28v12h-12.21v34.1h-12.1V12h-12z%22%20fill%3D%22%23ff8d4e%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') no-repeat right;
    color: #faf8f8;
    background-size: contain;
    text-align: left;
    font-size: 50%;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    white-space: pre;
    content: '#mixit17' " #CSS #Awesome " '@ilaborie';
    z-index: 2; }
  main > section::after {
    counter-increment: section;
    content: "# " counter(section);
    position: absolute;
    width: 4em;
    height: 1em;
    z-index: 2;
    padding: .125rem;
    border-radius: 50%;
    font-size: 60%;
    font-family: "Pixeled", fantasy;
    color: #ff8d4e;
    text-shadow: 1px 1px 0.125rem rgba(0, 0, 0, 0.8);
    top: 1vh;
    left: 92vw; }
  main > section.center {
    justify-content: center;
    align-items: center; }
    main > section.center > h2 {
      box-sizing: border-box;
      max-width: calc(100vw - 10vw - 10vw);
      -ms-grid-row-align: stretch;
          align-self: stretch;
      margin: 0 10vw;
      text-align: center;
      font-family: Ampersand, OpenSans, Arial, sans-serif;
      margin-top: -.75em;
      text-shadow: 1px 1px 0.125rem rgba(0, 0, 0, 0.8); }
      main > section.center > h2 small {
        font-size: 60%; }
  main > section.around {
    justify-content: space-around;
    align-items: center; }
  main > section.around-list {
    justify-content: center;
    align-items: center; }
    main > section.around-list ul {
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
  main > section.start-part a.previous::before {
    background: linear-gradient(to right, #2c233d, transparent); }
  main > section.end-part a.next::after {
    background: linear-gradient(to left, #2c233d, transparent); }
  main > section > h3 {
    box-sizing: content-box;
    width: 100vw;
    margin: 0;
    padding: 0 10vw;
    box-shadow: inset 0 -0.25rem 0 #2c233d;
    background-color: #2c233d;
    color: #faf8f8;
    font-size: 1.75em;
    font-family: Ampersand, OpenSans, Arial, sans-serif;
    justify-self: flex-start;
    line-height: 1.25; }
  main > section > h4, main > section > dl {
    box-sizing: border-box;
    max-width: calc(100vw - 10vw - 10vw);
    -ms-grid-row-align: stretch;
        align-self: stretch;
    margin: 0 10vw; }
  main > section > p,
  main > section > blockquote {
    box-sizing: border-box;
    max-width: calc(100vw - 10vw - 10vw);
    -ms-grid-row-align: stretch;
        align-self: stretch;
    margin: 0 10vw;
    padding: 0 0 0 1em; }
  main > section > ol,
  main > section > ul {
    box-sizing: border-box;
    max-width: calc(100vw - 10vw - 10vw);
    -ms-grid-row-align: stretch;
        align-self: stretch;
    margin: 0 10vw;
    padding: 0 0 0 2em; }
  main > section h2 a,
  main > section h2 a:visited, main > section h4 a,
  main > section h4 a:visited, main > section p a,
  main > section p a:visited, main > section li a,
  main > section li a:visited {
    color: #2c233d;
    text-decoration: none;
    border-bottom: thin dashed currentColor; }
    main > section h2 a:hover,
    main > section h2 a:visited:hover, main > section h4 a:hover,
    main > section h4 a:visited:hover, main > section p a:hover,
    main > section p a:visited:hover, main > section li a:hover,
    main > section li a:visited:hover {
      text-shadow: 0.25rem 0.25rem 0.5rem rgba(255, 255, 255, 0.5); }
    main > section h2 a:before,
    main > section h2 a:visited:before, main > section h4 a:before,
    main > section h4 a:visited:before, main > section p a:before,
    main > section p a:visited:before, main > section li a:before,
    main > section li a:visited:before {
      content: '🔗 '; }

section a.previous::before,
section a.next::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  height: 100%; }

section:target a.previous::before {
  left: 0;
  width: 10vw;
  cursor: w-resize;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.15), transparent); }

section:target a.next::after {
  left: calc(100vw - 10vw);
  width: 10vw;
  cursor: e-resize;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.15), transparent); }

/*

Darcula color scheme from the JetBrains family of IDEs

*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #2b2b2b; }

.hljs {
  color: #bababa; }

.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2; }

.hljs-bullet,
.hljs-quote,
.hljs-link,
.hljs-number,
.hljs-regexp,
.hljs-literal {
  color: #6896ba; }

.hljs-code,
.hljs-selector-class {
  color: #a6e22e; }

.hljs-emphasis {
  font-style: italic; }

.hljs-keyword,
.hljs-selector-tag,
.hljs-section,
.hljs-attribute,
.hljs-name,
.hljs-variable {
  color: #cb7832; }

.hljs-params {
  color: #b9b9b9; }

.hljs-string {
  color: #6a8759; }

.hljs-subst,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-symbol,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-template-tag,
.hljs-template-variable,
.hljs-addition {
  color: #e0c46c; }

.hljs-comment,
.hljs-deletion,
.hljs-meta {
  color: #7f7f7f; }

pre {
  box-sizing: border-box;
  max-width: calc(100vw - 10vw - 10vw);
  -ms-grid-row-align: stretch;
      align-self: stretch;
  margin: 0 10vw;
  display: block;
  padding: 0.5em;
  background: #2b2b2b;
  box-sizing: border-box;
  align-self: stretch; }

pre, code {
  font-family: 'Fira Code', Menlo, Monaco, monospace; }

@keyframes ants {
  to {
    background-position: 100% 100%; } }

style[contenteditable=true], pre {
  z-index: 1;
  box-sizing: border-box;
  max-width: calc(100vw - 10vw - 10vw);
  -ms-grid-row-align: stretch;
      align-self: stretch;
  margin: 0 10vw;
  padding: .5em;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
  outline: 0;
  white-space: pre;
  -moz-tab-size: 2;
       tab-size: 2;
  font-family: 'Fira Code', Menlo, Monaco, monospace;
  font-size: .667em;
  color: #bababa;
  background: #2b2b2b;
  box-sizing: border-box; }

style[contenteditable=true] {
  border: .125em solid transparent;
  background: linear-gradient(to left, #2b2b2b, #2b2b2b) padding-box, repeating-linear-gradient(-45deg, #2c233d 0, #2c233d 25%, transparent 0, transparent 50%) 0/0.6em 0.6em;
  animation: ants 60s linear infinite; }

.editable {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  max-width: calc(100vw - 10vw - 10vw);
  align-self: stretch;
  margin: 0 10vw;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc) 0 0, linear-gradient(45deg, #ccc 25%, #eee 25%, #eee 75%, #ccc 75%, #ccc) 20px 20px #eee;
  background-size: 40px 40px;
  z-index: -10; }

:hover {
  cursor: pointer; }

.mzh-animation .logo-askew {
  display: inline-block;
  animation-name: unskew;
  animation-duration: .6s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.75, -2, 0.75, 2);
  transform-origin: 86% 15%; }

.mzh-animation:hover .logo-askew {
  animation-name: skew;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  transform-origin: 86% 15%; }

@keyframes unskew {
  0% {
    transform: rotate(-12deg); }
  to {
    transform: rotate(0deg); } }

@keyframes skew {
  40% {
    transform: rotate(-16deg); }
  60% {
    transform: rotate(-8deg); }
  to {
    transform: rotate(-12deg); } }

body {
  padding: 0;
  margin: 0;
  color: #2c233d;
  font-family: Lato, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif, cursive;
  background: #faf8f8;
  counter-reset: section; }

h1 a, h1 a:visited {
  color: #2c233d;
  opacity: .8;
  text-decoration: none; }
  h1 a:hover, h1 a:visited:hover {
    opacity: 1; }

ul, ol {
  margin: 0;
  padding: 0; }
  ul li, ol li {
    margin: 0;
    padding: 0; }

dt, em {
  color: #ff8d4e;
  text-shadow: 1px 1px 0.125rem rgba(0, 0, 0, 0.8); }

blockquote {
  text-align: justify;
  font-family: Baskerville, serif; }
  blockquote p::before {
    color: #ff8d4e;
    content: '‟';
    font-weight: bold;
    font-size: 2em;
    margin-top: -1em; }
  blockquote strong {
    color: #ff8d4e;
    font-style: normal;
    text-shadow: 1px 1px 0.125rem rgba(0, 0, 0, 0.8); }
  blockquote footer cite {
    font-weight: bold;
    font-family: Lato, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; }
    blockquote footer cite::before {
      content: '— '; }

button {
  padding: .25rem .5rem;
  border-radius: .25rem;
  border-width: .25em;
  color: #2c233d; }

dt, dd {
  display: inline;
  margin: 0; }

dd + dt::before {
  content: '\A';
  white-space: pre; }

dd + dd::before {
  content: ', ';
  font-weight: normal;
  margin-left: -.25em; }

label {
  cursor: pointer; }

#cover .css {
  width: 64vh;
  height: 64vh;
  border: solid 1vh currentColor;
  font-size: 18.02817vh;
  padding: 2vh;
  font-family: arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
  text-transform: uppercase;
  line-height: 105%; }

#whoami p strong {
  font-size: 1.25em; }

#whoami p:nth-child(3) a {
  border-bottom: none;
  vertical-align: sub; }
  #whoami p:nth-child(3) a:before {
    content: ''; }

#whoami p:nth-child(4) a:before {
  content: '🐦 '; }

#whoami p:nth-child(5) a:before {
  content: '✉️ '; }

#whoami svg path {
  fill: #2c233d; }

#dining-philosophers .diner .table-wrapper, #dining-philosophers-print .diner .table-wrapper {
  transform: rotateX(20deg);
  min-height: 10rem;
  transform-origin: bottom;
  z-index: 9999;
  position: relative;
  margin: 10px auto 0;
  width: 20rem; }

#dining-philosophers .diner .table, #dining-philosophers-print .diner .table {
  transform-style: preserve-3d;
  outline: solid 1px transparent;
  margin: 0 auto 0 auto;
  min-height: 10rem;
  padding: 15px 15px 22px 15px;
  z-index: 999;
  position: relative;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center; }
  #dining-philosophers .diner .table plate, #dining-philosophers-print .diner .table plate {
    z-index: 99999; }

#dining-philosophers .diner .table-surface, #dining-philosophers-print .diner .table-surface {
  box-shadow: 0 2rem 0.5rem rgba(0, 0, 0, 0.2);
  background: #dd992d;
  background: linear-gradient(#dd992d, #cd8c26);
  position: absolute;
  height: 100%;
  bottom: 0;
  width: 100%; }

#dining-philosophers .diner .table-edge, #dining-philosophers-print .diner .table-edge {
  width: 20rem;
  margin: 0 auto .5rem auto;
  background: #ac741c;
  height: 1rem;
  transform: rotateX(-40deg);
  transform-origin: top;
  z-index: 2; }

#dining-philosophers .diner .table-leg, #dining-philosophers-print .diner .table-leg {
  width: 1.5rem;
  height: .8rem;
  background: #84570f;
  position: absolute;
  top: 1rem; }
  #dining-philosophers .diner .table-leg:first-child, #dining-philosophers-print .diner .table-leg:first-child {
    left: 1.5rem; }
  #dining-philosophers .diner .table-leg:last-child, #dining-philosophers-print .diner .table-leg:last-child {
    right: 1.5rem; }

#dining-philosophers .diner .plate, #dining-philosophers-print .diner .plate {
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.1);
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 0 10px;
  position: relative;
  border-bottom: solid 5px #DDD;
  background: white;
  border-radius: 50%; }
  #dining-philosophers .diner .plate:before, #dining-philosophers-print .diner .plate:before {
    content: "";
    display: block;
    position: absolute;
    left: calc(50% - 32px);
    top: calc(50% - 32px);
    height: 65px;
    width: 65px;
    border-radius: 60px;
    border-top: solid 6px #CCC;
    opacity: .4;
    background: white; }
  #dining-philosophers .diner .plate:after, #dining-philosophers-print .diner .plate:after {
    content: "";
    display: block;
    position: absolute;
    left: calc(50% - 41px);
    top: calc(50% - 40px);
    height: 67px;
    width: 67px;
    border-radius: 60px;
    border: solid 8px #009ff2;
    opacity: .4; }

#least-power {
  text-align: center; }
  #least-power a {
    font-size: 1.25em;
    font-family: Ampersand, OpenSans, Arial, sans-serif;
    text-shadow: 1px 1px 0.125rem rgba(0, 0, 0, 0.8); }
  #least-power blockquote {
    line-height: 1.25; }

#uncovered ul {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 2em;
     -moz-column-gap: 2em;
          column-gap: 2em; }

#button-live button, #button-live-print button {
  transform: scale(6); }

#unit-commit-strip p {
  text-align: center; }
  #unit-commit-strip p img {
    height: 80vh; }

#popover .editable .popover, #popover-print .editable .popover {
  margin-top: -1.5em;
  padding: .125em .75em;
  border-radius: .5em;
  display: inline-block;
  color: white; }
  #popover .editable .popover::after, #popover-print .editable .popover::after {
    content: " " 'MiXiT' " !"; }

#popover-demo {
  justify-content: space-between; }
  #popover-demo fieldset {
    margin-top: 2em;
    position: relative; }
    #popover-demo fieldset label {
      display: block; }
    #popover-demo fieldset input {
      font-size: 1em;
      border-radius: .25em; }
    #popover-demo fieldset input + .error {
      display: block;
      position: absolute;
      margin-top: -1.5em;
      padding: .125em .75em;
      border-radius: .5em;
      color: #fff;
      background: darkred;
      white-space: nowrap;
      top: 4.75em;
      left: 0.5em;
      -webkit-filter: drop-shadow(0.1em 0.1em 0.1em rgba(0, 0, 0, 0.5));
              filter: drop-shadow(0.1em 0.1em 0.1em rgba(0, 0, 0, 0.5));
      transform: scale(0);
      transform-origin: 1.43em -.43em;
      transition-timing-function: ease-in;
      transition: .2s; }
      #popover-demo fieldset input + .error::before {
        position: absolute;
        z-index: -1;
        content: '';
        top: -1.4em;
        left: .5em;
        border: 1em solid transparent;
        border-bottom-color: darkred; }
    #popover-demo fieldset input:invalid + .error {
      transform: scale(1);
      transition-timing-function: ease-out; }
  #popover-demo .hint {
    position: relative; }
    #popover-demo .hint .pop {
      display: block;
      position: absolute;
      margin-top: -1.5em;
      padding: .125em .75em;
      border-radius: .5em;
      color: #fff;
      background: teal;
      white-space: nowrap;
      top: 3em;
      left: 0.5em;
      -webkit-filter: drop-shadow(0.1em 0.1em 0.1em rgba(0, 0, 0, 0.5));
              filter: drop-shadow(0.1em 0.1em 0.1em rgba(0, 0, 0, 0.5));
      transform: scale(0);
      transform-origin: 1.43em -.43em;
      transition-timing-function: ease-in;
      transition: .2s; }
      #popover-demo .hint .pop::before {
        position: absolute;
        z-index: -1;
        content: '';
        top: -1.4em;
        left: .5em;
        border: 1em solid transparent;
        border-bottom-color: teal; }
      #popover-demo .hint .pop::after {
        content: " " 'MiXiT' " !"; }
    #popover-demo .hint a:hover + .pop {
      transform: scale(1);
      transition-timing-function: ease-out; }

#loader .editable, #loader-print .editable {
  font-size: 80%; }
  #loader .editable .loader, #loader-print .editable .loader {
    transform: scale(4);
    color: purple;
    display: inline-block;
    height: 1.3em;
    white-space: pre;
    margin-top: -0.3em;
    vertical-align: text-bottom; }

#typings .editable {
  background: black;
  color: green;
  font-size: 1.5em;
  padding: 1em;
  justify-content: flex-start; }
  #typings .editable code {
    white-space: nowrap;
    text-shadow: 0.25rem 0.25rem 0.25em currentColor; }

#state-list dl {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

#checkbox .editable, #checkbox-print .editable {
  margin-top: 1rem;
  flex-direction: column;
  color: #2c233d;
  justify-content: flex-start;
  max-height: 50vh; }
  #checkbox .editable blockquote, #checkbox-print .editable blockquote {
    position: relative;
    margin: 0 auto;
    padding: .25em; }
    #checkbox .editable blockquote p, #checkbox-print .editable blockquote p {
      font-style: italic;
      text-shadow: 1px 1px 0.125rem rgba(0, 0, 0, 0.8);
      margin: 0; }
    #checkbox .editable blockquote::before, #checkbox-print .editable blockquote::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      -webkit-filter: blur(20px);
              filter: blur(20px); }
  #checkbox .editable fieldset, #checkbox-print .editable fieldset {
    border: medium solid currentColor;
    background: rgba(255, 255, 255, 0.5);
    padding: .25em;
    min-width: 4ch;
    border-radius: .25rem; }
    #checkbox .editable fieldset input[type=checkbox], #checkbox-print .editable fieldset input[type=checkbox] {
      transform: scale(2); }
      #checkbox .editable fieldset input[type=checkbox] + label::before, #checkbox-print .editable fieldset input[type=checkbox] + label::before {
        -webkit-font-feature-settings: 'liga';
                font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: 'liga'; }

#switch div.col2 {
  display: flex;
  justify-content: space-between; }
  #switch div.col2 pre {
    margin: 0; }
  #switch div.col2 pre + pre {
    margin-left: 2em; }

#switch pre {
  font-size: 50%; }

#switch div.editable {
  justify-content: center;
  position: relative;
  max-height: 2em; }
  #switch div.editable input {
    transform: scale(2);
    margin: 0 1em; }
  #switch div.editable .switch + label {
    display: block;
    position: relative;
    padding: .1em;
    width: 2em;
    height: 1em;
    background-color: #ccc;
    border-radius: 1em;
    border: medium solid #2c233d;
    transition: 0.4s; }
    #switch div.editable .switch + label::before {
      display: block;
      position: absolute;
      content: '';
      top: .1em;
      left: .1em;
      width: 1em;
      height: 1em;
      background-color: #fff;
      border-radius: 100%;
      transition: background 0.4s; }
  #switch div.editable .switch:checked + label {
    background: #2c233d; }
    #switch div.editable .switch:checked + label::before {
      transform: translateX(1em);
      background-color: #faf8f8; }

#collapsible, #collapsible-print {
  justify-content: flex-start; }
  #collapsible .editable, #collapsible-print .editable {
    display: block; }
  #collapsible .panel, #collapsible-print .panel {
    width: 100%;
    position: relative;
    border: medium solid currentcolor;
    border-radius: .25em; }
    #collapsible .panel > input[type=checkbox], #collapsible-print .panel > input[type=checkbox] {
      transform: scale(2); }
    #collapsible .panel > input[type=checkbox] + header label::before, #collapsible-print .panel > input[type=checkbox] + header label::before {
      content: '▹';
      display: inline-block;
      min-width: 1em; }
    #collapsible .panel > input[type=checkbox] ~ .body, #collapsible-print .panel > input[type=checkbox] ~ .body {
      height: auto;
      max-height: 0;
      overflow: hidden;
      transition: max-height .4s ease-out; }
    #collapsible .panel > input[type=checkbox]:checked + header label::before, #collapsible-print .panel > input[type=checkbox]:checked + header label::before {
      content: '▿'; }
    #collapsible .panel > input[type=checkbox]:checked ~ .body, #collapsible-print .panel > input[type=checkbox]:checked ~ .body {
      max-height: 100vmin; }
    #collapsible .panel > header, #collapsible-print .panel > header {
      background: #2c233d;
      color: #faf8f8;
      border-radius: .25em;
      z-index: -1;
      padding: .25em;
      border-bottom: thin solid currentColor;
      cursor: pointer; }
      #collapsible .panel > header label, #collapsible-print .panel > header label {
        display: block; }
  #collapsible .body blockquote, #collapsible-print .body blockquote {
    font-size: 3vh; }

#tabs {
  justify-content: flex-start; }
  #tabs > div {
    box-sizing: border-box;
    max-width: calc(100vw - 10vw - 10vw);
    -ms-grid-row-align: stretch;
        align-self: stretch;
    margin: 0 10vw; }
  #tabs nav {
    position: relative;
    z-index: 1;
    padding-left: 1em; }
  #tabs nav > label {
    position: relative;
    display: inline-block;
    padding: .3em 1em 0;
    color: #000;
    text-decoration: none;
    margin: 0 -.3em; }
  #tabs nav > label::before, #tabs .tabs > div {
    border: 0.1em solid rgba(0, 0, 0, 0.4); }
  #tabs nav label::before {
    content: '';
    /* To generate the box */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-bottom: none;
    border-radius: .5em .5em 0 0;
    background: #ccc linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
    box-shadow: 0 .15em white inset;
    transform: scale(1.1, 1.3) perspective(0.5em) rotateX(5deg);
    transform-origin: bottom; }
  #tabs .tabs > div {
    margin-bottom: 1em;
    background: #eee;
    padding: 1em;
    border-radius: .15em;
    color: #000;
    display: none;
    min-height: 40vh; }
  #tabs input {
    transform: scale(2); }
  #tabs input#home:checked ~ nav label[for=home] {
    z-index: 2; }
    #tabs input#home:checked ~ nav label[for=home]::before {
      background-color: #eee;
      margin-bottom: -.08em; }
  #tabs input#home:checked ~ div[data-for=home] {
    display: block; }
  #tabs input#projects:checked ~ nav label[for=projects] {
    z-index: 2; }
    #tabs input#projects:checked ~ nav label[for=projects]::before {
      background-color: #eee;
      margin-bottom: -.08em; }
  #tabs input#projects:checked ~ div[data-for=projects] {
    display: block; }
  #tabs input#about:checked ~ nav label[for=about] {
    z-index: 2; }
    #tabs input#about:checked ~ nav label[for=about]::before {
      background-color: #eee;
      margin-bottom: -.08em; }
  #tabs input#about:checked ~ div[data-for=about] {
    display: block; }

#details .editable {
  padding-top: 0;
  justify-content: flex-start;
  align-items: flex-start; }

#dialog .editable dialog, #dialog-print .editable dialog {
  border: medium solid rgba(0, 0, 0, 0.3);
  border-radius: .5em; }

#caniuse {
  font-size: 5vh; }
  #caniuse dl {
    padding-left: 1em; }
    #caniuse dl dd {
      display: block;
      font-size: 4vh;
      margin-left: 1em; }
      #caniuse dl dd em {
        color: #aecbd6;
        font-style: normal; }
        #caniuse dl dd em::after {
          content: ' %'; }
    #caniuse dl dd + dd::before {
      content: '';
      margin: 0; }
    #caniuse dl dd + dt::before {
      content: '';
      margin-top: .25em; }

#moto h2::before {
  content: '👉 ';
  font-size: 1.25em; }

#end, #end-print {
  --endTag: '#🦄 @ilaborie '; }
  #end:hover, #end-print:hover {
    animation: 10s rainbow infinite; }
  #end .css, #end-print .css {
    width: 284pt;
    height: 284pt;
    border: solid 1vh currentColor;
    font-size: 80pt;
    padding: 2vh;
    font-family: arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    text-transform: uppercase;
    line-height: 105%; }

@keyframes rainbow {
  from, to {
    background: red; }
  16% {
    background: yellow; }
  33% {
    background: green; }
  50% {
    background: aqua; }
  66% {
    background: blue; }
  83% {
    background: fuchsia; } }

#link, #link2 {
  align-items: center;
  font-size: 5vh; }

body.index {
  display: flex;
  flex-direction: column; }
  body.index a {
    counter-increment: a;
    font-size: 2em;
    margin: .125em;
    padding: 0 .5em; }
    body.index a::before {
      content: counter(a) " "; }
