:hover {
  cursor: pointer;
}

.mzh-animation .logo-askew {
  display: inline-block;

  animation-name: unskew;
  animation-duration: .6s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(.75, -2, .75, 2);
  transform-origin: 86% 15%;
}

.mzh-animation:hover .logo-askew {
  animation-name: skew;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  transform-origin: 86% 15%;
}

@keyframes unskew {
  0% {
    transform: rotate(-12deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes skew {
  40% {
    transform: rotate(-16deg);
  }
  60% {
    transform: rotate(-8deg);
  }
  to {
    transform: rotate(-12deg);
  }
}